<footer class="page-footer bg-dark font-small text-white pt-4">  
	<div class="footer-copyright text-center py-3">Developed by Salome Wairimu © 2019 Copyright:
    <a href="https://mdbootstrap.com/education/bootstrap/"> salomewairimu.github.io</a>
  </div>
</footer>
</body>
</html>