<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="landing.css">
    </head>
    <body>
        <div id="signup">
            <div id="topbtn1">
                <button id="btn1">Sign Up</button>
                <button id="btn2" onclick ="loadPage()">Sign In</button>
            </div>
            <div class="inner justify-content-center align-items-center">
                <h2>Sign Up</h2>
                <div>
                    <form autocomplete="off" action="/register" method="POST">
                        <div class="form_section">
                        <label>FIRST NAME</label>
                        <input class="form_input" type="text" name="firstname" required>
                        </div>
                        <div class="form_section">
                        <label>LAST NAME</label>
                        <input class="form_input" type="text" name="lastname" required>
                        </div>
                        <div class="form_section">
                        <label>E-MAIL</label>
                        <input class="form_input" type="text" name="username" required>
                        </div>
                        <div class="form_section">
                        <label>SCHOOL</label>
                        <input class="form_input" type="text" name="school" required>
                        </div>
                        <div class="form_section">
                        <label>MAJOR</label>
                        <input class="form_input" type="text" name="major" required>
                        </div>
                        <div class="form_section">
                        <label>GRADUATION YEAR</label>
                        <input class="form_input" type="number" placeholder="2020" min="2000" max="2025" name="grad_year" required>
                        </div>
                        <div class="form_section">
                        <label>PASSWORD</label>
                        <input class="form_input" type="password" name="password" required>
                        </div>
                        <div class="form_section">
                        <label>CONFIRM PASSWORD</label>
                        <input class="form_input" type="password" name="confirm_password" required>
                        </div>
                        <button class="submit_btn btn">Sign Up</button>
                    </form>
                    <p><a href="#" onclick ="loadPage()">Already have an account?</a></p>
                </div>
            </div>
        </div>
        <div id="login">
            <div id="topbtn2">
                <button id="btn3" onclick ="loadPage()">Sign Up</button>
                <button id="btn4">Sign In</button>
            </div>
            <div class="inner justify-content-center align-items-center">
                <h2>Sign In</h2>
                <div>
                    <form autocomplete="off"  action="/login" method="POST">
                        <div class="form_section">
                        <label>E-MAIL</label>
                        <input class="form_input" type="text" name="username" required>
                        </div>
                        <div class="form_section">
                        <label>PASSWORD</label>
                        <input class="form_input" type="password" name="password" required>
                        </div>
                        <button class="submit_btn btn">Sign In</button>
                    </form>
                </div>
                <p><a href="#" onclick ="loadPage()">Create Account</a></p>
                <p><a href="#">Forgot your password?</a></p>
            </div>
        </div>
        <script src="anim.js"></script>
    </body>
</html>
